@import url("~antd/dist/antd.min.css");

.App {
  text-align: center;
}

.map-location-area,
.map-location-container,
.ant-row,
.map-holder,
.locations-holder,
.location-container,
.location-card {
  height: 100%;
}

.location-container {
  height: 100vh;
}

.map-holder {
  height: 100vh;
}

@media(max-width:768px) {
  .location-container {
    height: 70vh;
  }

  .map-holder {
    height: 30vh;
  }
}

.location-container .ant-card-head-title {
  color: #1890ff;
}

.location-card .ant-card-body {
  text-align: left;
  padding: 14px;
}

.location-card .ant-card-head {
  padding: 0 14px;
}

.location-container .container-card {
  height: 100%;
  overflow: auto;
  border-radius: 0;
}


.nowrap-ellip {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.search-drawer .search-box-holder {
  height: 5em;
}

.search-drawer .map-container {
  height: 30em !important;
}